@charset "UTF-8";

@import "reset.css";
@import "layout.css";
@import "header.css";
@import "meanmenu.css";
@import "side.css";
@import "footer.css";
@import "sp.css";


@media screen and (min-width: 920px) {
    #content {
            width:610px;
            border:solid 1px silver;
            padding:20px 20px 10px;
            -webkit-text-size-adjust:none
    }
    #content div.h {
            width:560px;
            height:50px;
    /*ボックスの高さ*/
            line-height:/*縦のセンタリングの為に指定*/
    57px
    }
    .lv_menu {
            margin	: 1em;
    }

    #content h1 {
            font-size:130%;
            color:#00008B;
            margin-bottom:0;
            margin-left:0;
            border-bottom:solid 1px silver;
    }

    #content h2 {
            font-size:130%;
            color:#00008B;
            margin-bottom:0;
            margin-left:0;
                    border-bottom:solid 1px silver;
    }

    #content span.b {
            font-weight:700;
            color:#00008B
    }

    #content h1.title {
            background:#FFF;
            border-left:4px solid #14b391;
            padding:8px 4px;
            padding-left:12px;
            font-weight:700;
            margin-top:2em
    }
    
    #content .table{
		width:590px;
		border-collapse: collapse;
		border-right: 1px solid #ccc;
	}
	#content .table th{
		width: 25%;
		padding: 6px;
		text-align: left;
		vertical-align: top;
		color: #fff;
		background-color: #14b391;
		border-left: 5px solid #ff6633; 
		border-top: 1px solid #ccc;
	}
	#content .table tr{
		width: 25%;
		padding: 6px;
		background-color: #fafafa;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
	}
	#content .table td{
		width: 25%;
		padding: 6px;
		background-color: #fafafa;
		border-bottom: 1px solid #fff;
		border-left: 1px solid #fff;
	}
}
@media screen and (max-width: 919px) {
    #content {
            border:solid 1px silver;
            padding:20px 20px 10px;
            -webkit-text-size-adjust:none
    }
    #content div.h {
            width:560px;
            height:50px;
    /*ボックスの高さ*/
            line-height:/*縦のセンタリングの為に指定*/
    57px
    }
    .lv_menu {
            margin	: 1em;
    }
    #content h1 {
            font-size:130%;
            color:#00008B;
            margin-bottom:0;
            margin-left:0;
            border-bottom:solid 1px silver;
    }

    #content h2 {
            font-size:130%;
            color:#00008B;
            margin-bottom:0;
            margin-left:0;
                    border-bottom:solid 1px silver;
    }

    #content span.b {
            font-weight:700;
            color:#00008B
    }

    #content h1.title {
            background:#FFF;
            border-left:4px solid #14b391;
            padding:8px 4px;
            padding-left:12px;
            font-weight:700;
            margin-top:2em
    }
}
