h2 {
  margin-top: 0;
}
#wrapper {
  margin-top: 30px;
}

/* Page Head */
.page-head {
  background-image: url(../images/common/bg-main.gif);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  margin-bottom: 40px;
}
@media (max-width: 767px){
  .page-head {
    min-height: 200px;
    margin-bottom: 30px;
  }
}

.fx-banner {
  border-color: #333333;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .fx-banner{
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

/* Home 3point */
.home-3point {
  background-color: #e7f7f4;
  margin: 0 0 50px 0;
  border-radius: 10px;
  padding: 15px;
}
.home-3point h3 {
  color: #14b391;
  font-size: 40px;
  text-align: center;
  margin: 0;
  background: none;
  padding : 15px;
}
.col-sm-4.home-3point {
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
}
.col-sm-4.home-3point h4{
  color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  padding: 44px 0 0 0;
  margin: 0;
}
.point-icon {
  border-radius: 50%;
  height: 340px;
}
.point-1 {
  background-color: #60ca86;
}
.point-2 {
  background-color: #2cb392;
}
.point-3 {
  background-color: #60d19c;
}
.point-icon img {
  width: 180px;
  margin-top: 10px;
}
.home-toptext{
  padding: 15px 15px 10px 15px;
}
.home-toptext h4 {
  color: #14b391;
  font-size: 20px;
  margin-bottom: 10px;
}
.home-toptext p{
  margin: 0;
  padding: 5px 0;
}
.point-pc {
  display: block;
}
.point-mb {
  display: none;
}

@media (max-width: 1199px) {
  .point-icon {
    height: 273px;
  }
  .point-icon img {
    width: 150px;
    margin-top: 5px;
  }
  .col-sm-4.home-3point h4{
    font-size: 21px;
    line-height: 28px;
    padding: 40px 0 0 0;
  }
}
@media (max-width: 991px) {
  .point-icon {
    height: 200px;
  }
  .point-icon img {
    width: 95px;
  }
  .col-sm-4.home-3point h4{
    font-size: 17px;
    line-height: 24px;
    padding-top: 32px;
  }
}
@media (max-width: 767px) {
  .home-3point {
    margin: 0 0 30px 0;
    padding: 5px;
  }
  .home-3point h3  {
    font-size: 40px;
    padding-bottom: 20px;
  }
  .col-sm-4.home-3point {
    text-align: left;
    padding: 0px 15px 10px 15px;
    margin: 0;
  }
  .point-icon {
    border-radius: 10px;
    height: auto;
    height: 160px;
    text-align: right;
  }
  .point-icon img {
    width: 140px;
    margin: 10px 50px 10px 0;
  }
  .col-sm-4.home-3point h4 {
    font-size: 25px;
    text-align: left;
    float: left;
    padding: 73px 0 73px 40px;
    margin: 0;
  }
  .point-pc {
    display: none;
  }
  .point-mb {
    display: block;
  }
}
@media (max-width: 630px) {
  .home-3point h3 {
    font-size: 33px;
  }
  .col-sm-4.home-3point h4 {
    font-size: 19px;
  }
  .point-icon {
    height: 120px;
  }
  .point-icon img {
    width: 110px;
    margin: 5px 20px 5px 0;
  }
  .col-sm-4.home-3point h4 {
    font-size: 17px;
    padding: 48px 0 48px 20px;
  }
}
@media (max-width: 479px) {
  .home-3point h3 {
    font-size: 25px;
  }
  .point-icon {
    height: 100px;
  }
  .point-icon img {
    width: 90px;
    margin-right: 15px;
  }
  .col-sm-4.home-3point h4 {
    font-size: 15px;
    padding: 26px 0 26px 25px;
  }
  .point-pc {
    display: block;
  }
  .point-mb {
    display: none;
  }
}


/* Home Top3 */
.row.home-top3{
  padding: 0 -15px 0 -15px;
  margin-bottom: 50px;
}
.home-top3 h3 {
  background-color: #3994cd;
  margin: 0 15px 30px 15px;
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
  padding: 20px;
}
.home-top3 p {
  font-size: 15px;
  padding: 0 30px;
}
p.copy-bold {
  font-weight: bold;
}
.col-sm-4.home-top3 {
  margin: 0;
  padding: 0 15px;
}
.rank-box{
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  position: relative;
}
.rank-box a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rank-box:hover {
  background-color:#FFF;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.rank1-fx {
  border-color: #ecbb00;
}
.rank2-crowd {
  border-color: #a8a9a9;
}
.rank3-aff {
  border-color: #de8427;
}
.top3-meddal p{
  font-size: 25px;
  padding-top: 11px;
  padding-left: 19px;
  width: 55px;
  height: 55px;
  margin: 25px;
}
.rank1-fx .top3-meddal p {
  background: url(../images/common/icon-rank01.jpg) no-repeat;
  background-size: contain;
}
.rank2-crowd .top3-meddal p {
  background: url(../images/common/icon-rank02.jpg) no-repeat;
  background-size: contain;
}
.rank3-aff .top3-meddal p {
  background: url(../images/common/icon-rank03.jpg) no-repeat;
  background-size: contain;
}
.top3-title h4 {
  color: #333333;
  font-size: 22px;
  position: absolute;
  top: 44px;
  left: 90px;
}
.popularity {
  color: #ecbb00;
  font-size: 16px;
  vertical-align: middle;
}
img.top3-illust {
  width: 100%;
}
.top3-profile img {
  margin: 10px 20px 0 25px;
  width: 70px;
  float: left;
  border-width: 4px;
  border-style: solid;
  border-radius: 60px;
}
.rank1-fx .top3-profile img {
  border-color: #ecbb00;
}
.rank2-crowd .top3-profile img {
  border-color: #a8a9a9;
}
.rank3-aff .top3-profile img {
  border-color: #de8427;
}
.top3-profile p {
  padding-top: 25px;
  margin: 0;
}
.top3-profile {
  margin:10px 0 30px 0;
}
h4.monthly-income {
  text-align: center;
  font-size: 25px;
  color: #666;
  margin-top: 15px;
}
.mi-body {
  font-size: 16px;
}
.large-text {
  font-size: 42px;
  color: #ff4500;
}

@media(max-width: 1199px) {
  .top3-title h4{
    font-size: 19px;
  }
  .top3-profile p {
    font-size: 13px;
  }
}
@media(max-width: 991px) {
  .top3-meddal p{
    font-size: 20px;
    padding-top: 6px;
    padding-left: 14px;
    width: 40px;
    height: 40px;
  }
  .top3-title h4 {
    font-size: 18px;
    position: static;
    padding-left: 30px;
  }
  .top3-profile img {
    margin: 15px 10px 0 25px;
    width: 60px;
  }
  .top3-profile p {
    font-size: 12px;
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .row.home-top3 {
    margin-bottom: 30px;
  }
  .home-top3 h3 {
    margin-bottom: 15px;
  }
  .home-top3 p {
    font-size: 22px;
    padding: 0 15px;
  }
  .rank-box {
    margin-bottom: 15px;
    padding: 5px;
  }
  .top3-meddal p{
    font-size: 25px;
    padding-top: 11px;
    padding-left: 19px;
    width: 55px;
    height: 55px;
    margin: 15px;
  }
  .top3-title h4 {
    font-size: 30px;
    position: absolute;
    top: 34px;
    left: 55px;
  }
  p.copy-bold {
    margin: 0;
  }
  img.top3-illust {
    padding: 10px 60px 0 60px;
  }
  .top3-profile {
    margin-bottom: 15px;
  }
  .top3-profile img {
    width: 85px;
    margin: 0px 10px 0 15px;
  }
  .top3-profile p {
    font-size: 15px;
    padding-top: 25px;
  }
}
@media (max-width: 479px) {
  .home-top3 h3 {
    font-size: 25px;
    padding: 15px;
  }
  .top3-title h4 {
    font-size: 19px;
    top: 40px;
  }
  .top3-meddal p{
    font-size: 20px;
    padding-top: 11px;
    padding-left: 19px;
    width: 55px;
    height: 50px;
    margin: 15px;
  }
   p.copy-bold {
    font-size: 16px;
    padding-bottom: 5px;
  }
  .top3-profile img {
    width: 75px;
  }
  .top3-profile p {
    padding-top: 20px;
  }
}

.fx-add {
  margin-bottom: 50px;
}
.fx-add img {
  margin: 0;
  width: 100%;
}
@media (max-width: 479px) {
  .fx-add {
    margin-top: -15px;
  }
}


/* Article */
ul.article-home li {
  margin-bottom: 20px;
}
ul.article-home li a {
  width: 100%;
  color: #333;
  display: table;
}
ul.article-home li .r-img {
  display: table-cell;
  width: 200px;
  height: auto;
}
ul.article-home li img {
  width: 100%;
  height: auto;
}
ul.article-home li .r-txt {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px;
}
ul.article-home li h4 {
  font-size: 18px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}
ul.article-home li p {
  font-size: 13px;
  color: #666;
  padding: 0;
  margin: 8px 0 0 0;
}
ul.article-home li a:hover h4 {
  color: #14b391;
}
ul.article-home li a:hover p {
  color: #999;
}
@media (max-width: 767px){
  ul.article-home li .r-img {
    width: 100px;
  }
  ul.article-home li .r-txt {
    padding-left: 10px;
  }
  ul.article-home li h4 {
    font-size: 13px;
  }
  ul.article-home li p {
    display: none;
  }
}

/* Ranking */
.ranking-top {
  position: relative;
}
.ranking-top img {
  top: -13px;
  left: 160px;
  height: 42px;
  margin-bottom: 20px; 
  position: absolute;
}

.ranking li {
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
}
.ranking li:first-child {
  border-top: 1px solid transparent; 
}

ul.ranking li:before {
  background: #fff;
  width: 25px;
  height: 25px;
  border: 1px solid #333;
  border-radius: 50%;
  color: #333;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0px;
  left: 0;
  top: 19px;
  z-index: 1;
}
ul.ranking li:nth-child(1):before {
  background: url(../images/common/icon-rank01.jpg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding-top: 8px;
  border: 1px solid transparent;
  left: -3px;
  top: 15px;
}
ul.ranking li:nth-child(2):before {
  background: url(../images/common/icon-rank02.jpg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding-top: 8px;
  border: 1px solid transparent;
  left: -3px;
  top: 15px;
}
ul.ranking li:nth-child(3):before {
  background: url(../images/common/icon-rank03.jpg) no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  padding-top: 8px;
  border: 1px solid transparent;
  left: -3px;
  top: 15px;
}
ul.ranking li .r-txt {
  padding-left: 35px;
}
@media (max-width: 767px){
  ul.ranking li p {
    display: block;
    font-size: 11px;
  }
}






